### Part I: Lists and Loops

In [2]:
# 1) Top 10 CO2 emitting countries in 2024 (from EDGAR 2025, fossil CO2, in order)
# Note: EU27 is excluded because it's not a country

top10_co2_countries = [
    "China",
    "United States",
    "India",
    "Russia",
    "Japan",
    "Iran",
    "Indonesia",
    "Saudi Arabia",
    "South Korea",
    "Germany",
]

In [3]:
# 2) How many countries are in the list?
print(len(top10_co2_countries))

10

In [4]:
# 3) First three countries using slicing
print(top10_co2_countries[:3])

['China', 'United States', 'India']

In [5]:
# 4) Print country name only if it contains the letter 'a'
for country in top10_co2_countries:
    if 'a' in country.lower():
        print(country)

China
United States
India
Russia
Japan
Iran
Indonesia
Saudi Arabia
South Korea
Germany

### Part II: Dictionaries

In [6]:
# 1) Dictionary mapping country to annual CO2 emissions (in Mton CO2, 2024)
co2_emissions = {
    "China": 13124.70,
    "United States": 4632.16,
    "India": 3153.83,
    "Russia": 2009.15,
    "Japan": 972.27,
    "Iran": 828.99,
    "Indonesia": 812.20,
    "Saudi Arabia": 652.51,
    "South Korea": 588.01,
    "Germany": 579.94,
}

In [7]:
# 2) Look up the United States' emissions
print(co2_emissions["United States"])

4632.16

In [8]:
# 3) List of countries with emissions greater than 1,000 Mton
high_emitters = []
for country, emissions in co2_emissions.items():
    if emissions > 1000:
        high_emitters.append(country)

print(high_emitters)

['China', 'United States', 'India', 'Russia']

In [9]:
# 4) Add Brazil to the dictionary
co2_emissions["Brazil"] = 491.47

print(co2_emissions)

{'China': 13124.7, 'United States': 4632.16, 'India': 3153.83, 'Russia': 2009.15, 'Japan': 972.27, 'Iran': 828.99, 'Indonesia': 812.2, 'Saudi Arabia': 652.51, 'South Korea': 588.01, 'Germany': 579.94, 'Brazil': 491.47}

### Part III: Functions

In [10]:
# 1) Functions to convert between Kelvin and Celsius
def kelvin_to_celsius(T):
    return T - 273.15

def celsius_to_kelvin(T):
    return T + 273.15

In [11]:
# 2) Function to convert to Fahrenheit
# Optional keyword argument: unit='celsius' or unit='kelvin'
def to_fahrenheit(T, unit='celsius'):
    if unit == 'celsius':
        return T * 9/5 + 32
    elif unit == 'kelvin':
        T_celsius = kelvin_to_celsius(T)
        return to_fahrenheit(T_celsius, unit='celsius')

In [12]:
# 3) Check outputs
print(to_fahrenheit(0))           # 0°C → should be 32°F
print(to_fahrenheit(100))         # 100°C → should be 212°F
print(to_fahrenheit(273.15, unit='kelvin'))  # 273.15K = 0°C → should be 32°F

32.0
212.0
32.0

In [13]:
# 4) Function to convert from Fahrenheit
# Optional keyword argument: unit='celsius' or unit='kelvin'
def from_fahrenheit(T, unit='celsius'):
    T_celsius = (T - 32) * 5/9
    if unit == 'celsius':
        return T_celsius
    elif unit == 'kelvin':
        return celsius_to_kelvin(T_celsius)

In [14]:
# 5) Function to convert feet and inches to meters
def feet_inches_to_meters(feet, inches):
    total_inches = feet * 12 + inches
    return total_inches * 0.0254

# Verify: 5 feet 11 inches ≈ 1.80m, 6 feet 0 inches ≈ 1.83m
print(feet_inches_to_meters(5, 11))
print(feet_inches_to_meters(6, 0))

1.8034
1.8288

In [15]:
# 6) Function to convert meters to feet and inches
def meters_to_feet_inches(meters):
    total_inches = meters / 0.0254
    feet = int(total_inches // 12)
    inches = total_inches % 12
    return feet, inches

print(meters_to_feet_inches(1.80))

(5, 10.866141732283467)

In [16]:
# 7) Round trip verification for 3 values
for height_m in [1.60, 1.75, 1.90]:
    feet, inches = meters_to_feet_inches(height_m)
    result = feet_inches_to_meters(feet, inches)
    print(f"{height_m}m → {feet}ft {inches:.2f}in → {result:.4f}m")

1.6m → 5ft 2.99in → 1.6000m
1.75m → 5ft 8.90in → 1.7500m
1.9m → 6ft 2.80in → 1.9000m